  body {
    background-image: url("../assets/psybg.jpg");
  }

  #pic {
    margin: auto;
    width: 50%;
  }

  .container {
    background-color: white;
    width: 50%;
    padding-bottom: 80px;
    ;
  }

  .col-xs-6 {
    text-align: center;
  }

  h1 {
    font-family:'Chewy', cursive;
  }

  div {
      font-family:'Chewy', cursive;
      font-size: 110%;

   }
